/* Palette: http://paletton.com/#uid=10y0u0k6ifD3wqo53kK7m91fx82 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #403428;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h1, h2, h3 {
    color: #403428;
    font-weight: 200;
    margin-bottom: 0;
}
h1 > a {
    color: #fff;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 28px;
    font-weight: 100;
}

p, pre {
    line-height: 1.6;
    margin: 1em 0 0;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #483f37;
    color: #d2c6bb;
}

.self {
    margin: 1em auto;
}
.self > img, .self-info {
    float: right;
}
.self > img {
    width: 80px;
    height: 80px;
}
.self h3 {
    font-size: 20px;
}
.self-info {
    margin-right: 1em;
}
.fullname {
    color: #fff;
    margin: 5px 0 1em;
}
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: block;
    zoom: 1;
    margin-left: 5px;
}
.nav-item a {
    background: transparent;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    text-decoration: none;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-size: 24px;
    font-weight: 200;
    color: rgb(176, 202, 219);
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 0.5em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-description {
    color: #444;
    line-height: 1.8em;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 0.5em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }
    .self {
        margin: 1em 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

@media (max-width: 800px) {
    .self {
        display: none;
    }
}

@media (max-width: 1120px) {
    .self > img {
        display: none;
    }
    .self-info {
        margin: 0;
    }
}

@media (max-width: 1250px) {
    .brand-title {
        font-size: 24px;
        font-weight: 200;
    }
    .brand-tagline {
        font-size: 20px;
    }
}
